{{#partial "tabla"}}
    <script>
        function eliminarEgreso(idEgreso) {

            $.ajax({
                url: '/eliminarEgreso/' + idEgreso,
                type: 'DELETE',
                success: function (result) {
                    window.location = "/egresos"
                }
            });
        }
    </script>
    <table class="table">
        <thead>
        <tr class="thead-light">
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Fecha</th>
            <th class="text-center" scope="col">Proveedor</th>
            <th class="text-center" scope="col">Total</th>
            <th class="text-center" scope="col">Acciones</th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each egresos}}
            <tr>
            
                <td class="text-center" scope="row">{{id}}</td>
                <td class="text-center">{{fecha}}</td>
                <td class="text-center">{{proveedor.nombrePersona}}</td>
                <td class="text-center">{{total}}</td>
                
                <td class="text-center">
                 {{#if requierePresupuesto}}
                    <a class="btn btn-link" href="/egresos/{{id}}/presupuestos">
                        <i class="fas fa-file-powerpoint"></i>
                    </a>
                 {{/if}}
                    <a class="btn btn-link" href="/egresos/{{id}}/documentos">
                        <i class="fas fa-file-alt"></i>
                    </a>
                    <a class="btn btn-link" href="/egresos/editar/{{id}}">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a class="btn btn-link" href="/egresos/detalle/{{id}}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-link" data-toggle="modal"
                       data-target="#borrarEgreso-{{id}}">
                        <i class="fas fa-trash"></i>
                    </a>

                    <div class="modal fade" id="borrarEgreso-{{id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Borrar egreso</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h6>Está seguro que desea eliminar el egreso?</h6>
                                    <h6>Atención: Se desvinculara de cualquier presupuesto al que haya sido
                                        asociado.</h6>
                                    <h6>También se desvinculara del ingreso (si corresponde).</h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            onclick="eliminarEgreso('{{id}}');">Borrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/partial}}

{{#partial "botón-cargar"}}
    <a class="btn btn-primary mb-sm-3" href="/egresos/nuevo" role="button">Cargar egreso</a>
{{/partial}}

{{#partial "rutaListado"}}
    /egresos
{{/partial}}

{{>listado.hbs nombreEntidad="egresos"}}
